{% extends 'base.html' %}

{% block content %}




<div class="card bg-light">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    </div>
    <div class="container center card-body text-center">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
            {% for dato in datos %}
            <tr>
                <td>{{dato[0]}}</td>
                <td>{{dato[1]}}</td>
                <td>{{dato[2]}}</td>
                <td>{{dato[3]}}</td>
                <td>{{dato[4]}}</td>
                <td><a href="{{url_for('ventas')}}" class="btn btn-outline-danger">Seleccionar</a></td>

            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}
