{% extends 'base.html' %}

{% block title %} Factura reparacion {% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container w-100 mt-4">
        <div class="border p-1 border-dark text-center">
            <h2>Nº{{ reparacion_info[0] }}</h2>
            <span>Fecha: {{ reparacion_info[1] }}</span>
        </div>

        <div class="border p-1 border-dark mt-4">
            <h3>Cliente:</h3>
            <ul>
                <li>Nombre: {{ reparacion_info[2] }}</li>
                <li>Direccion: {{ reparacion_info[3] }}</li>
                <li>Telefono: {{ reparacion_info[4] }}</li>
            </ul>
        </div>
        <div class="border p-1 border-dark mt-4">
            <h3>Informacion:</h3>
            <ul>
                {% for detalle in detalles_reparacion %}
                <li>Nombre repuesto: {{ detalle[0] }}</li>
                <li>Descripción repuesto: {{ detalle[1] }}</li>
                <li>Descripción reparación: {{ detalle[2] }}</li>
                {% endfor %}
            </ul>
        </div>
        <table class="table border border-dark mt-4">
            <thead>
                <tr>
                    <th>Repuesto</th>
                    <th>Cantidad Repuestos</th>
                    <th>Precio Unitario</th>
                    <th>Costo mano de obra</th>
                    <th>Subtotal</th>
                    <th>Impuestos(IVA)</th>
                    <th class="border border-dark">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles_reparacion %}
                    <tr>
                        <td>{{ detalle[0] }}</td>
                        <td>{{ detalle[3] }}</td>
                        <td>{{ detalle[4] }}</td>
                        <td>{{ detalle[5] }}</td>
                        <td>{{ detalle[6] }}</td>
                        <td>{{ (detalle[4]*detalle[3])*0.21 }}</td> <!-- osea precio unitario * cantidad de repuestos * 0.21 iva-->
                        <td class="border border-dark"><b>{{ detalle[6] + (detalle[4]*detalle[3])*0.21 }}</b></td> <!--- subtotal + iva-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}