{% extends 'base.html' %}

{% block title %} Productos {% endblock %}


{% block content %}




<div class="card bg-light">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <h1 class="text-center">AGREGAR CELULARES/PRODUCTOS</h1>
    
    <div class="container center card-body text-center  ">

        <form method="POST" action="{{ url_for('mostrar_productos') }}" class="w-100">
            <div class="input-group">
                <input class="rounded form-control mx-1" type="text" name="nombre" placeholder="Nombre(requerido)" required>
            
                <textarea class="rounded form-control mx-1" placeholder="Descripción(opcional)" name="descripcion" ></textarea>

                <input type="number" class="rounded form-control mx-1" placeholder="Precio unitario(requerido)" step="0.01" name="precio_unitario" required>

                <input type="number" class="rounded form-control mx-1" placeholder="Stock(requerido)" name="stock" min="1" required>

                <input type="submit" class="btn btn-outline-success rounded mx-1" value="Agregar Producto">
            </div>
        </form>


    </div>
    <div class="container center card-body text-center">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
            {% for dato in datos %}
            <tr>
                <td>{{dato[0]}}</td>
                <td>{{dato[1]}}</td>
                <td>{{dato[2]}}</td>
                <td>{{dato[3]}}</td>
                <td>{{dato[4]}}</td>
                <td><a href="{{url_for('actualizar_productos', id=dato[0])}}" class="btn btn-outline-primary">Editar</a></td>
                <td><a href="{{url_for('eliminar_productos', id=dato[0]) }}" class="btn btn-outline-danger">Borrar</a></td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

</div>
{% endblock %}
